<!-- templates/topic-delete.html -->

{% extends 'base.html' %}

{% load i18n %}

{% block content %}
	<div class="card mt-2">
        <div class="card-header py-0 px-3 text-white bg-dark">
            <h3>{% trans 'Форум' %}</h3>
        </div>
        <div class="card-body p-1">
    		<h4 class="pl-3">{% trans 'Удаление публикации' %}</h4>
    		<hr>
		    <form class="" action="" method="post">
		        {% csrf_token %}
		        <p>Вы уверены, что хотите удалить тему "{{ topic.title }}"?</p>
		        <button class="btn btn-danger ml-2" type="submit">{% trans 'Удалить' %}</button>
		        <a class="btn btn-secondary ml-2" href="{% url 'topic_list' %}">{% trans 'Отменить' %}</a>
		    </form>
		</div>
	</div>
{% endblock %}
