<!-- templates/registration/login.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block head %}
    <link href="{% static 'css/sb-admin.min.css' %}" rel="stylesheet">
{% endblock head %}


{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card mt-5">
            <div class="card-header text-white bg-dark">{% trans 'Аутентификация' %}</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for hidden in form.hidden_fields %}
                        {{ hidden }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="form-group">
                            <div class="form-label-group">
                                {{ field|add_class:'form-control' }}
                                {{ field.label_tag }}
                                {% if field.help_text %}
                                    <small class='form-text text-muted'>{{ field.help_text }}</small>
                                {% endif %}
                                {% if field.error %}
                                    {% for error in field.errors %}
                                        <span class="form-text text-danger"><small>{{ error }}</small></span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">
                            <span class="glyphicon glyphicon-ok"></span>{% trans 'Войти' %}
                        </button>
                        <a href="{% url 'home' %}" class="btn btn-secondary btn-block">{% trans 'Отменить' %}</a>
                    </div>
                </form>
                <hr>
                <div class="text-center">
                    <a class="d-block small mt-3" href="{% url 'signup' %}">{% trans 'Регистрация нового пользователя' %}</a>
                    <a class="d-block small" href="{% url 'password_reset' %}">{% trans 'Забыли пароль?' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
