<!-- templates/registration/password_reset_done.html -->

{% extends 'base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{%block title %}Email Sent{% endblock %}

{% block content %}
    <div class="container d-flex justify-content-center">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header text-white bg-dark">{% trans 'Проверьте Ваш почтовый ящик' %}</div>
            <div class="card-body">
                <p>{% trans "Мы направили на Ваш почтовый адрес инструкции по установке пароля!" %}</p>
            </div>
        </div>
    </div>
{% endblock content %}
