<!-- templates/registration/password_reset_complete.html -->

{% extends 'base.html' %}

{% load i18n %}
{% load widget_tweaks %}

{%block title %}Password reset complete{% endblock %}

{% block content %}
    <div class="container">
        <div class="card card-login mx-auto mt-5">
            <div class="card-header">{% trans 'Завершение изменения пароля' %}</div>
            <div class="card-body">
                <p>{% trans 'Ваш пароль был изменен. Теперь Вы можете ' %}<a href="{% url 'login' %}">{% trans 'войти ' %}</a>{% trans 'в аккаунт, используя измененный пароль' %}.</p>
            </div>
        </div>
    </div>
{% endblock content %}
