<!-- templates/registration/password_reset_form.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{%block title %}Forgot Your Password?{% endblock %}

{% block head %}
    <link href="{% static 'css/sb-admin.min.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <div class="card mt-5">
                <div class="card-header text-white bg-dark">{% trans 'Забыли Ваш пароль?' %}</div>
                <div class="card-body">
                    <p><small>{% trans "Введите Ваш адрес электронной почты и мы отправим Вам инструкции как установить новый пароль." %}</small></p>
                    <form method="post">
                        {% csrf_token %}
                        {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                            <div class="form-group">
                                <div class="form-label-group">
                                    {{ field|add_class:'form-control' }}
                                    {{ field.label_tag }}
                                    {% if field.help_text %}
                                        <small class='form-text text-muted'>{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <span class="form-text text-danger"><small>{{ error }}</small></span>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-success btn-block">{% trans 'Направить инструкции!' %}</button>
                        <a href="{% url 'home' %}" class="btn btn-secondary btn-block">{% trans 'Отменить' %}</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
