<!-- templates/news/news-list.html -->

{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}


{% block head %}
    {{ form.media }}
    <link href="{% static 'css/sb-admin.min.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}
    <div class="card mt-2">
        <div class="card-header py-0 px-3 text-white bg-dark">
            <div class="row">
                <div class="col">
                    <h3>{% trans 'Новости' %}</h3>
                </div>
                <div class="col p-1">
                    <div class="btn-toolbar justify-content-end"
                            role="toolbar"
                            aria-label="Toolbar for News list">
                        <div class="btn-group" role="group" aria-label="News toolbar">
                            <a class="btn btn-sm btn-outline-info mr-1"
                                href="{% url 'news_list' %}"
                                title={% trans 'Обновить' %}><i class="fas fa-sync-alt"></i>
                            </a>
                            <a class="btn btn-sm btn-outline-info mr-1"
                                href="#"
                                role="button"
                                data-toggle="modal"
                                data-target="#filterModal"
                                title={% trans 'Фильтровать/сортировать' %}>
                                <i class="fas fa-filter"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body p-1">
            {% for new in news %}
                <div class="list-group">
                    <a class="list-group-item list-group-item-light list-group-item-action" href="{{ new.2 }}" target="_blank">
                        <i class="fas fa-calendar-day"></i> {{ new.0 }}  <i class="far fa-newspaper"></i>  {{ new.1 }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
